<header>
    <div class="navbar">
        <div class="container">
            <h3>githubstars</h3>
            <a (click)="home()" [style.display]="isLogged() ? 'block' : 'none'" href="javascript:void(0)">Home</a>
        </div>
    </div>
</header>

<div class="container-loading-on" style="display:none; position:absolute; top:40%;left:50%; margin-left:-165px;width:330px;">
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<router-outlet></router-outlet>